{% load static %}


<div class="col-md-12 px-0" align="center" style="background-color: #fff4de;">
  <a href="/"><img src="{% static 'logo/banner.png' %}" height="250px"></a>
</div>

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="{% url 'store' %}">CABE</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/roast/">Choose Bean<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'store' %}">Shop</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
    <a href="/" class="btn btn-warning">Login</a>

    <a href="{% url 'cart' %}">
      <img id="cart-icon" src="{% static 'logo/cart.png' %}">
    </a>
    <p id="cart-total">{{cartItems}}</p>

    </div>
  </div>
</nav>
</div>
